@import '../../assets/variables';

.navbar-main {
  background-color: $secondary;
  color: $white;

  h1, h2 {
    margin: 0;
    padding: 0;
  }

  h1 {
    font-size: 1.2rem;
    a {
      font-size: 1.2rem;
    }
  }

  h2 {
    font-size: 0.7rem;
    margin-left: 0.5em;
  }

  a {
    transition: color 150ms;
    color: inherit;

    &:hover {
      color: $dark;
    }
  }
}