@import '../../../assets/variables';

.container-login {
  padding: 1rem 0;

  .card {
    border-color: $primary;
  }

  .card-header {
    background-color: $primary;
    color: $white;
  }

  .card-block {
    padding: 1rem;
  }

  .card-footer {
    background-color: $gray-200;
  }
}