<nav class="navbar navbar-expand-lg navbar-main">
    <div class="title">
        <h1><a class="navbar-brand" href="#">Tor-Ui</a></h1>
        <h2>v{{version}}</h2>
    </div>

    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item active">
                <a class="nav-link" href="">Home</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="subscribe">Subscribe</a>
            </li>
        </ul>
    </div>
</nav>