<div
    class="row torrent-bar mb-5"
    [ngClass]="{
        'incomplete': !torrent.finished
    }"
>
    <torrent-files-modal #torrentFilesModal></torrent-files-modal>
    <div class="col-md-12 name d-flex flex-row" (click)="details()">
        <div class="title">{{torrent.name}}</div>
        <div class="details ml-auto mr-2"><i class="fa fa-info"></i></div>
    </div>
    <div class="col-md-12 torrent-progress-bar">
        <div class="progress">
            <div
                [ngClass]="{
                    'progress-bar': true,
                    'progress-bar-striped': torrent.playing,
                    'progress-bar-animated': torrent.playing
                }"
                role="progressbar"
                [style.width.%]="torrent.progress < 1 ? 1 : torrent.progress"
                aria-valuenow="30"
                aria-valuemin="0"
                aria-valuemax="100">
                <span *ngIf="torrent.finished">{{ torrent.progress }} %</span>
            </div>
            <span *ngIf="!torrent.finished">{{ torrent.progress }} %</span>
        </div>
    </div>
    <div class="col-md-10 content d-flex flex-column">
        <div class="data">
            <small>
                Uploaded : {{ (torrent.uploaded/(1024*1024)) | number:'0.2-2' }} Mo
            </small>
            <small>
                Downloaded : {{ (torrent.downloaded/(1024*1024)) | number:'0.2-2' }} / {{ (torrent.total/(1024*1024)) | number:'0.2-2' }} Mo
            </small>
        </div>
        <div class="ratio">
            <small>Ratio : {{ torrent.ratio }}</small>
        </div>
        <div class="files">
            <a
                href="javascript:"
                *ngIf="!!torrent.finished"
                (click)="torrentFilesModal.open(torrent.id, torrent.files)"
            >
                <small>{{ torrent.files.length }} files</small>
            </a>
        </div>
    </div>
    <div class="col-md-2 content text-right d-flex flex-column">
        <div class="action">
            <button
                class="btn btn-primary"
                *ngIf="!!torrent.finished"
                (click)="torrentFilesModal.open(torrent.id, torrent.files)"
            >
                <i class="fa fa-download"></i>
            </button>
            <button
                class="btn btn-success"
                *ngIf="!torrent.active"
                (click)="play()"
                [disabled]="!torrent.hasOwnProperty('active')"
            >
                <i class="fa fa-play"></i>
            </button>
            <button
                    class="btn btn-warning"
                    *ngIf="torrent.active && torrent.user.id == currentUser.id"
                    (click)="pause()"
            >
                <i class="fa fa-pause"></i>
            </button>
            <button
                class="btn btn-danger"
                *ngIf="torrent.finished && torrent.user.id == currentUser.id"
                (click)="remove()"
            >
                <i class="fa fa-times"></i>
            </button>
        </div>
        <div class="author" *ngIf="!!torrent.user">
            By {{ torrent.user.email }}
        </div>
        <div class="author" *ngIf="!torrent.user">
            Anonymous
        </div>
    </div>
</div>