<ng-template #torrentFilesModal let-c="close" let-d="dismiss">
    <div class="modal-header">
        <h4 class="modal-title">Torrent files details</h4>
        <button type="button" class="close" aria-label="Close" (click)="d('Cross click')">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
    <div class="modal-body">
        <div class="container">
            <files-bar *ngFor="let file of files" [file]="file"></files-bar>
        </div>
    </div>
    <div class="modal-footer">
        <a href="javascript:" (click)="c('Close click')">Close</a>
    </div>
</ng-template>