<form class="form-login form card h-100" #loginForm="ngForm" (ngSubmit)="onSubmit()">
    <login-modal #loginModal></login-modal>
    <div class="card-header">Log in</div>
    <div class="card-block">
        <div class="form-group">
            <label for="email">E-mail : </label>
            <div class="input-group mb-2">
                <div class="input-group-prepend">
                    <div class="input-group-text"><i class="fa fa-envelope fa-1x" aria-hidden="true"></i></div>
                </div>
                <input
                    type="text"
                    class="form-control"
                    id="email"
                    name="email"
                    placeholder="E-mail"
                    [(ngModel)]="model.email"
                    required
                    #email="ngModel"
                >
            </div>
            <div [hidden]="email.valid|| email.pristine" class="form-errors">
                Username is required
            </div>
        </div>
        <div class="form-group">
            <label for="password">Password</label>
            <div class="input-group mb-2">
                <div class="input-group-prepend">
                    <div class="input-group-text"><i class="fa fa-key fa-1x" aria-hidden="true"></i></div>
                </div>
                <input
                    type="password"
                    name="password"
                    id="password"
                    class="form-control"
                    placeholder="Password"
                    [(ngModel)]="model.password"
                    required
                    #password="ngModel"
                >
            </div>
            <div [hidden]="password.valid|| password.pristine" class="form-errors">
                Password is required
            </div>
        </div>
        <button class="btn btn-primary" type="submit">Login</button>
        <p class="text-center">
            <a href="subscribe">I want subscribe</a>
        </p>
    </div>
    <div class="card-footer text-right" >
        <a href="javascript:" (click)="loginModal.open()">Forgot password ?</a>
    </div>
</form>