<form class="form-subscribe form card h-100" #subscribeForm="ngForm" (ngSubmit)="onSubmit()">
    <div class="card-header" (click)="toLogin()">Subscribe</div>
    <div class="card-block h-100">
        <div class="form-group">
            <label for="email">E-mail : </label>
            <div class="input-group mb-2">
                <div class="input-group-prepend">
                    <div class="input-group-text"><i class="fa fa-envelope fa-1x" aria-hidden="true"></i></div>
                </div>
                <input
                        type="email"
                        class="form-control"
                        id="email"
                        name="email"
                        placeholder="E-mail"
                        [(ngModel)]="model.email"
                        required
                        #email="ngModel"
                >
            </div>
            <div [hidden]="email.valid|| email.pristine" class="form-errors">
                E-mail is required
            </div>
        </div>
        <div class="form-group">
            <label for="password">Password</label>
            <div class="input-group mb-2">
                <div class="input-group-prepend">
                    <div class="input-group-text"><i class="fa fa-key fa-1x" aria-hidden="true"></i></div>
                </div>
                <input
                        type="password"
                        name="password"
                        id="password"
                        class="form-control"
                        placeholder="Password"
                        [(ngModel)]="model.password"
                        required
                        #password="ngModel"
                >
            </div>
            <div [hidden]="password.valid|| password.pristine" class="form-errors">
                Password is required
            </div>
        </div>
        <button class="btn btn-primary" type="submit">Subscribe</button>
        <div class="text-center">
            <a href="javascript:" (click)="toLogin()">Log in</a>
        </div>
    </div>
</form>